<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>020BED55-6506-49EE-A9A7-A42879AC3954</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2F7F3B2-7674-4906-9E85-EF8C1226D3EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>036027D0-37AD-4A93-A99B-F9A8A08363B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DEF7B73-C674-4451-9AAA-40EBACDEC98A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>247EE449-2EA3-4B27-A2B1-AB932F54E869</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>09DBC6C7-7821-44D3-8C04-70D8DC1F795B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB603203-29BE-4469-A13F-9DB19B6014C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BB5245C8-6D2A-41C2-A200-F575F5ADE0B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>247EE449-2EA3-4B27-A2B1-AB932F54E869</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DEF7B73-C674-4451-9AAA-40EBACDEC98A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>428CC106-DB48-4CFA-A649-F01984A2C89A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F1111DF-E6CE-48A3-BA52-951F969F2017</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42AAA240-F34A-441A-A0E0-0C952A9EAA2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D11AB5C5-C5E0-4C9E-AAD7-02FD2F1F5057</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4661B128-E98A-4183-B4BE-828D19598793</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D559C75A-95F2-4EA6-A9DD-B21D3AAF3781</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EDD75F6-3A0E-4979-B09B-125C0B242CA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7B38198-2B01-4433-A271-8A9622ECBC2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8FFA3AB-AD7D-4316-A84F-5958A671D4FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F1111DF-E6CE-48A3-BA52-951F969F2017</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B70CBDF8-7AD1-49C1-B81E-67276B221ADB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0959620C-CC96-4321-8C9F-088A4E26B35B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74826DEF-569A-455A-AAC8-05CB9611186D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACA274A0-62FB-4074-A3BC-06BE0075B61D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AD9E7BA-89C4-42E1-87BE-75B9198E8E34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B8FFA3AB-AD7D-4316-A84F-5958A671D4FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BB2752B-DED5-4724-B73B-7606575BF781</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D31E4DCC-0326-49B1-BF9D-C79289648E78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CB3C930-4F91-4919-9546-B196CFE8C5F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>457775AF-EFBB-4956-A2BC-F1FFFB40D516</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>999E2B62-E2DE-4F7A-B4B5-00B849B3626B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18AB75AD-4F3C-4FCC-98A3-A6335EB48817</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A038A675-B92E-4E3C-B697-4CF25A1636DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AD9E7BA-89C4-42E1-87BE-75B9198E8E34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACA274A0-62FB-4074-A3BC-06BE0075B61D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>457775AF-EFBB-4956-A2BC-F1FFFB40D516</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8CB3C930-4F91-4919-9546-B196CFE8C5F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB5245C8-6D2A-41C2-A200-F575F5ADE0B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB603203-29BE-4469-A13F-9DB19B6014C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C348178C-1FE5-4F25-8BA1-45040E2C86FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09DBC6C7-7821-44D3-8C04-70D8DC1F795B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D11AB5C5-C5E0-4C9E-AAD7-02FD2F1F5057</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2F7F3B2-7674-4906-9E85-EF8C1226D3EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>020BED55-6506-49EE-A9A7-A42879AC3954</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D31E4DCC-0326-49B1-BF9D-C79289648E78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7B38198-2B01-4433-A271-8A9622ECBC2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5EDD75F6-3A0E-4979-B09B-125C0B242CA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D559C75A-95F2-4EA6-A9DD-B21D3AAF3781</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DCFC048-5377-47D6-98CD-60F8F42A90BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>879BEE7C-6989-4B6E-AEE6-A37DD1A906DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE19A1D4-0D24-4D95-8216-5044EE28BBC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>036027D0-37AD-4A93-A99B-F9A8A08363B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Roman</string>
	<key>description</key>
	<string>An adaptor to open browse from hotkey managers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hotkey Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://wiki.archlinux.org/index.php?search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BB603203-29BE-4469-A13F-9DB19B6014C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>2149318656</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C348178C-1FE5-4F25-8BA1-45040E2C86FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>arch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Seach in ArchWiki for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BB5245C8-6D2A-41C2-A200-F575F5ADE0B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.+</string>
						<key>outputlabel</key>
						<string>search directly</string>
						<key>uid</key>
						<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>enter query</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>09DBC6C7-7821-44D3-8C04-70D8DC1F795B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>2149318656</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>999E2B62-E2DE-4F7A-B4B5-00B849B3626B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>keyword</key>
				<string>df</string>
				<key>language</key>
				<string>en_GB</string>
				<key>showallwords</key>
				<false/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.dictionaryfilter</string>
			<key>uid</key>
			<string>18AB75AD-4F3C-4FCC-98A3-A6335EB48817</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>g</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving search suggestions ...</string>
				<key>script</key>
				<string>require_once('workflows.php');
$wf = new Workflows();

$orig = "{query}";
$xml = $wf-&gt;request( "http://google.com/complete/search?output=toolbar&amp;q=".urlencode( $orig ) );
$xml = simplexml_load_string( utf8_encode($xml) );
$int = 1;

foreach( $xml as $sugg ):
	$data = $sugg-&gt;suggestion-&gt;attributes()-&gt;data;
	$wf-&gt;result( $int.'.'.time(), "$data", "$data", 'Search Google for '.$data, 'icon.png'  );
	$int++;
endforeach;

$results = $wf-&gt;results();
if ( count( $results ) == 0 ):
	$wf-&gt;result( '{query} (fallback)', $orig, '{query} (fallback)', 'No search suggestions found. Search Google for '.$orig, 'icon.png' );
endif;

echo $wf-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Google with Suggestions</string>
				<key>title</key>
				<string>Search Google</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>B8FFA3AB-AD7D-4316-A84F-5958A671D4FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>2149318656</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A038A675-B92E-4E3C-B697-4CF25A1636DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.+</string>
						<key>outputlabel</key>
						<string>search directly</string>
						<key>uid</key>
						<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>enter query</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7AD9E7BA-89C4-42E1-87BE-75B9198E8E34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>2149318656</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>74826DEF-569A-455A-AAC8-05CB9611186D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search wikiHow for {query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8CB3C930-4F91-4919-9546-B196CFE8C5F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.wikihow.com/wikiHowTo?search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>457775AF-EFBB-4956-A2BC-F1FFFB40D516</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.+</string>
						<key>outputlabel</key>
						<string>search directly</string>
						<key>uid</key>
						<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>enter query</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>ACA274A0-62FB-4074-A3BC-06BE0075B61D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215725</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>8DEF7B73-C674-4451-9AAA-40EBACDEC98A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>i</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving search suggestions ...</string>
				<key>script</key>
				<string>require_once('workflows.php');
$wf = new Workflows();

$orig = "{query}";
$xml = $wf-&gt;request( "http://google.com/complete/search?output=toolbar&amp;q=".urlencode( $orig ) );
$xml = simplexml_load_string( utf8_encode($xml) );
$int = 1;

foreach( $xml as $sugg ):
	$data = $sugg-&gt;suggestion-&gt;attributes()-&gt;data;
	$wf-&gt;result( $int.'.'.time(), "$data", "$data", 'Search Google for '.$data, 'icon.png'  );
	$int++;
endforeach;

$results = $wf-&gt;results();
if ( count( $results ) == 0 ):
	$wf-&gt;result( '{query} (fallback)', $orig, '{query} (fallback)', 'No search suggestions found. Search Google for '.$orig, 'icon.png' );
endif;

echo $wf-&gt;toxml();</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search Google Image with Suggestions</string>
				<key>title</key>
				<string>Search Google Image</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>247EE449-2EA3-4B27-A2B1-AB932F54E869</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>2149318656</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EE19A1D4-0D24-4D95-8216-5044EE28BBC8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.+</string>
						<key>outputlabel</key>
						<string>search directly</string>
						<key>uid</key>
						<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>enter query</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>036027D0-37AD-4A93-A99B-F9A8A08363B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.google.com/maps/search/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E7B38198-2B01-4433-A271-8A9622ECBC2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>2149318656</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7BB2752B-DED5-4724-B73B-7606575BF781</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Google Map for {query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5EDD75F6-3A0E-4979-B09B-125C0B242CA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.+</string>
						<key>outputlabel</key>
						<string>search directly</string>
						<key>uid</key>
						<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>enter query</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D31E4DCC-0326-49B1-BF9D-C79289648E78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>2149318656</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>42AAA240-F34A-441A-A0E0-0C952A9EAA2A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://stackoverflow.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E2F7F3B2-7674-4906-9E85-EF8C1226D3EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search StackOverflow for {query}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>020BED55-6506-49EE-A9A7-A42879AC3954</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.+</string>
						<key>outputlabel</key>
						<string>search directly</string>
						<key>uid</key>
						<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>enter query</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D11AB5C5-C5E0-4C9E-AAD7-02FD2F1F5057</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>2149318656</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>428CC106-DB48-4CFA-A649-F01984A2C89A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635219305</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>B70CBDF8-7AD1-49C1-B81E-67276B221ADB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://wikipedia.org/wiki/Special:Search/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0959620C-CC96-4321-8C9F-088A4E26B35B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.+</string>
						<key>outputlabel</key>
						<string>search directly</string>
						<key>uid</key>
						<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>enter query</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6F1111DF-E6CE-48A3-BA52-951F969F2017</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635218553</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>1DCFC048-5377-47D6-98CD-60F8F42A90BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://www.youtube.com/results?search_query={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>879BEE7C-6989-4B6E-AEE6-A37DD1A906DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>16</integer>
				<key>hotmod</key>
				<integer>2149318656</integer>
				<key>hotstring</key>
				<string>Y</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4661B128-E98A-4183-B4BE-828D19598793</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>.+</string>
						<key>outputlabel</key>
						<string>search directly</string>
						<key>uid</key>
						<string>77BB1081-BE67-4A60-9592-66034B1E2FBD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>enter query</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D559C75A-95F2-4EA6-A9DD-B21D3AAF3781</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An adaptor to search from hotkey managers</string>
	<key>uidata</key>
	<dict>
		<key>020BED55-6506-49EE-A9A7-A42879AC3954</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>036027D0-37AD-4A93-A99B-F9A8A08363B3</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>0959620C-CC96-4321-8C9F-088A4E26B35B</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>955</integer>
		</dict>
		<key>09DBC6C7-7821-44D3-8C04-70D8DC1F795B</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>18AB75AD-4F3C-4FCC-98A3-A6335EB48817</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>1DCFC048-5377-47D6-98CD-60F8F42A90BB</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>1080</integer>
		</dict>
		<key>247EE449-2EA3-4B27-A2B1-AB932F54E869</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>428CC106-DB48-4CFA-A649-F01984A2C89A</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>955</integer>
		</dict>
		<key>42AAA240-F34A-441A-A0E0-0C952A9EAA2A</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>457775AF-EFBB-4956-A2BC-F1FFFB40D516</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>4661B128-E98A-4183-B4BE-828D19598793</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>1080</integer>
		</dict>
		<key>5EDD75F6-3A0E-4979-B09B-125C0B242CA6</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>6F1111DF-E6CE-48A3-BA52-951F969F2017</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>975</integer>
		</dict>
		<key>74826DEF-569A-455A-AAC8-05CB9611186D</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>7AD9E7BA-89C4-42E1-87BE-75B9198E8E34</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>7BB2752B-DED5-4724-B73B-7606575BF781</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>879BEE7C-6989-4B6E-AEE6-A37DD1A906DD</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>1080</integer>
		</dict>
		<key>8CB3C930-4F91-4919-9546-B196CFE8C5F6</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>8DEF7B73-C674-4451-9AAA-40EBACDEC98A</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>999E2B62-E2DE-4F7A-B4B5-00B849B3626B</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>A038A675-B92E-4E3C-B697-4CF25A1636DF</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>ACA274A0-62FB-4074-A3BC-06BE0075B61D</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>B70CBDF8-7AD1-49C1-B81E-67276B221ADB</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>955</integer>
		</dict>
		<key>B8FFA3AB-AD7D-4316-A84F-5958A671D4FF</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>BB5245C8-6D2A-41C2-A200-F575F5ADE0B7</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>BB603203-29BE-4469-A13F-9DB19B6014C6</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>C348178C-1FE5-4F25-8BA1-45040E2C86FB</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>D11AB5C5-C5E0-4C9E-AAD7-02FD2F1F5057</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>D31E4DCC-0326-49B1-BF9D-C79289648E78</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>725</integer>
		</dict>
		<key>D559C75A-95F2-4EA6-A9DD-B21D3AAF3781</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>E2F7F3B2-7674-4906-9E85-EF8C1226D3EC</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>E7B38198-2B01-4433-A271-8A9622ECBC2F</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>EE19A1D4-0D24-4D95-8216-5044EE28BBC8</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
